nav {
  height: 70px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 70px;
}

button {
  color: rgb(122, 161, 64);
  background-color: black;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  margin-right: 20px;
}

button:hover {
  color: rgb(105, 255, 5);
}

div.pic {
  height: 400px;
  background: url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

div.left {
  flex-grow: 2;
  justify-content: flex-start;
}

h1 {
  
}

#anakin {
  font-size: 46px;
}

div.container {
  display: flex;
  margin-top: 70px;
}

main {
  line-height: 1.6;
  flex-grow: 3;
}

h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
}

h2 {
  font-variant-caps: all-small-caps;
  margin-bottom: 40px;
}


h4 {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  color: #222;
  margin-top: -14px;
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  color: white;
  background-color: #222;
  font-size: 40px;
  display: flex;
  align-items: center;
  padding: 40px 0;
}

blockquote::before {
  content: '"';
  font-size: 100px;
  font-family: 'Merriweather', serif;
  position: relative;
  
}

p, li {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
}

hr {
  border: 2px solid black;
  margin-top: 40px;
  margin-bottom: 40px;
}

.elsoBekezdes {
  font-size: 20px;
}